.landingPage-section {
  width: 70%;
  height: 100vh;
  margin: auto;
  margin-top: 40px;
  display: flex;
  column-gap: 5rem;
}
.listJobs {
  flex: 0.7;
}

@media (max-width: 1500px) {
  .landingPage-section {
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 40px;
  }
  .listJobs {
    flex: 1;
  }
  .listJobs-empty {
    text-align: center;
  }
}
