.landingPage-section {
  width: 70%;
  height: 100vh;
  margin: auto;
  margin-top: 40px;
  display: flex;
  column-gap: 5rem;
  /* align-items: center; */
  /* justify-content: space-around; */
  /* border: 2px solid black; */
}
.listJobs {
  flex: 0.7;

  /* border: 1px solid red; */
}

@media (max-width: 1500px) {
  .landingPage-section {
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 40px;
  }
  .listJobs {
    flex: 1;
  }
}
/* @media screen and (max-width: 480px) {
  .landingPage-section {
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 40px;
  }
  .listJobs {
    flex: 1;
  }
} */
